button {
    background-color: transparent;
    width: 100%;
    height: 15%;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: white;
    cursor: pointer;
    font-size: medium;
    padding: 10px 15%;
}

button:hover {
    background-color: purple;
    transition: background-color 0.5s ease;
}